<mat-toolbar class="bg-navbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onMenuClick()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <span>I.S.C Baruch Medina</span>
  <span class="material-spacer"></span>
  <span>Desarrollador .Net</span>
  <span class="material-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" (click)="onClickLinkedIn()">
    <i class="fa-brands fa-linkedin"></i>
  </button>
  <button mat-icon-button (click)="onClickGitHub()">
    <i class="fa-brands fa-github"></i>
  </button>
  <app-lang></app-lang>
  <app-theme></app-theme>
</mat-toolbar>
